{port_specs, [
    {"priv/jiffy.so", [
        "c_src/encoder.c",
        "c_src/objects.cc",
        "c_src/jiffy.c",
        "c_src/decoder.c",
        "c_src/util.c",
        "c_src/doubles.cc",
        "c_src/utf8.c",
        "c_src/double-conversion/fast-dtoa.cc",
        "c_src/double-conversion/double-conversion.cc",
        "c_src/double-conversion/bignum-dtoa.cc",
        "c_src/double-conversion/diy-fp.cc",
        "c_src/double-conversion/bignum.cc",
        "c_src/double-conversion/strtod.cc",
        "c_src/double-conversion/fixed-dtoa.cc",
        "c_src/double-conversion/cached-powers.cc"
    ]}
]}.



{port_env, [
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "CFLAGS", "$CFLAGS -Ic_src/ -g -Wall -Werror -O3 -fno-strict-aliasing"},
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "CXXFLAGS", "$CXXFLAGS -Ic_src/ -g -Wall -Werror -O3"},

    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "LDFLAGS", "$LDFLAGS -lstdc++"},

    %% OS X Leopard flags for 64-bit
    {"darwin9.*-64$", "CXXFLAGS", "-m64"},
    {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

    %% OS X Snow Leopard flags for 32-bit
    {"darwin10.*-32$", "CXXFLAGS", "-m32"},
    {"darwin10.*-32$", "LDFLAGS", "-arch i386"},

    {"win32", "CXXFLAGS", "$CXXFLAGS /O2 /DNDEBUG"}
]}.

{erl_opts, [
    {platform_define, "R1(1|2|3|4|5|6)", 'JIFFY_NO_MAPS'}
]}.

{eunit_opts, [
    verbose
]}.

{pre_hooks, [{"", compile, "escript enc compile"}]}.
{post_hooks, [{"", clean, "escript enc clean"}]}.
